*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-shopping{
 height: 8vh;
 width: 80%;
 margin: auto;
 display: flex;
 justify-content: space-between;
 padding: 0 2rem;
 align-items: center;
}
.continue-shoping{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.myicon,.shpoingbag{
    width: 50px;
    height: 50px;
}

.shoping-cart{
    position: relative;
}
.shoping-cart>p{
    position: absolute;
    padding: 0.3rem 0.7rem;
    background-color: red;
    border-radius:50%;
    top: 0px;
    left:2rem;
}

.main-cartsection{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}

.cart-items{
    width: 60%;
   
    border: 1px solid black;
    margin: auto;
    margin-top: 3rem;
}

.add-minus-quaintaty{
    display: flex;
    align-items: center;
    gap: 15px;
}
input{
    width: 3rem;
    border-radius: 4px;
}

img{
    width: 100px;
    height: 100px;
}

.cart-items-container{
    width: 90%;
    margin: 1rem auto;
    height: 20rem;
    overflow-y: scroll;
}
.item-info{
    display: flex;
   justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px;
    padding: 1rem 1rem;
    border-bottom: 1px solid black;
}

.cart-total{
    width: 80%;
    margin: 2rem 0 0 1rem;
    text-align: right;
}