@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300&family=Roboto:wght@300;700&display=swap');
*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
 list-style: none;
 text-decoration: none;
}

body{
   display: flex;
    align-items: center;
    justify-content: center;
    background: #efefef;
}

.container{
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    margin: 3rem 0;
}

.list{
    width: 80vw;
    margin: 0 auto;
    padding: 1rem 1rem; 
    text-align: center;
}
.color-container{

    display: flex;
    flex-wrap: wrap;
 
}

.color{
  width: 18rem;
  height: 12rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  text-align: center;
  padding-top: 5rem;
}

.heading{
 margin:0 .4rem;
 color: rgb(200, 47, 72);
 font-size: 22px;
 text-shadow: 2px 2px 4px rgb(200, 180, 47);
 letter-spacing: 4px;

}

input{
 margin-top: 1rem;   
 width: 18rem;
 padding: 0.3rem 0.6rem;
}
input.error{
    border: 1px solid red;
}
.btn{
padding: 0.3rem 0.6rem; 
background: rgba(63, 63, 190, 0.607);
border: 2px solid rgba(63, 63, 190, 0.607);
color: aliceblue;
}

.color-light{
    color: #efefef;
}

@media screen and (max-width: 700px){
    .list{
        width: 100vw;
       
    }

    .container{
        width: 100vw;
       
    }

    .color{
        width: 10rem;
        height: 8rem;
    
      }

      input{ 
        width: 10rem;
       
       }
       
}